<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="\static/style.css">
	<link rel="stylesheet" href="\static/media.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<title>Borrow - ID{{borrow[0]}}</title>

</head>
<body>
	<header>
		<div class="container">
			<div class="block1">
				<div class="logo">
					<a href="">
						<img src="\static/images/aitu-logo-3-400x205.png" alt="">
					</a>
				</div>
				<nav>
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/borrows">Borrows</a></li>
						<li><a href="/books">Books</a></li>
						<li><a href="/readers">Readers</a></li>
						<li><a style="color: red; cursor: pointer;" onclick="server.deauth()">Logout</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="info_box">
		<h3>Borrow ID: {{borrow[0]}}</h3>
            <p>Borrow status: {{borrow[10]}}</p>
            <p>Taking date: {{borrow[6]}} {{borrow[7]}}</p>
            {% if borrow[8] %}
            <p>Return date: {{borrow[8]}} {{borrow[9]}}</p>
            {% else %}
            <p>Return date: Expected</p>
            {% endif %}
            <h4>Reader ID: {{borrow[1]}}</h4>
            <p>Reader name: {{borrow[2]}}</p>
            <h4>Book ID: {{borrow[3]}}</h4>
            <p>Book name: {{borrow[4]}}</p>
            <p>Book author: {{borrow[5]}}</p>
            <div>
                <input id="new_b_reader" type="text" placeholder="New reader id">
                <button onclick="server.changeReaderName({{borrow[0]}}, document.getElementById('new_b_reader').value)">Change reader</button>
            </div>
            <div>
                <input id="new_b_book" type="text" placeholder="New book id">
                <button onclick="server.changeReaderLastName({{borrow[0]}}, document.getElementById('new_b_book').value)">Change book</button>
            </div>
            <div>
                <input id="new_b_takingdate" type="text" placeholder="New taking date">
                <input id="new_b_takingtime" type="text" placeholder="New taking time">
                <button onclick="server.changeReaderLastName({{borrow[0]}}, document.getElementById('new_b_takingdate').value, document.getElementById('new_b_takingtime').value)">Change taking time</button>
            </div>
            {% if borrow[10] != 'Submitted' %}
            <button onclick="server.submite_borrow({{borrow[0]}})">Set submited</button>
            {% endif %}
            <button onclick="server.deleteBorrow({{borrow[0]}})">Delete</button>
	</div>
</body>
</html>