<html>
    <head>
        <title>Library Control - Borrows</title>
        <link rel="stylesheet" href="static/general.css">
    </head>
    <body>
        <div class="top-nav">
            <a href="/home">Home</a>
            <a href="/books">Books</a>
            <a href="/readers">Readers</a>
            <a href="/borrows">Borrows</a>
            <a class="logout" onclick="server.deauth()">Logout</a>
        </div>
    </body>
    <div>
        <h3>Add new borrow</h3>
        <input type="text" id="reader_id" placeholder="Reader ID">
        <input type="text" id="book_id" placeholder="Book ID">
        <button onclick="server.addBorrow(document.getElementById('reader_id').value, document.getElementById('book_id').value)">Add borrow</button>
    </div>
    <div>
        <h3>Borrows list</h3>
            <table class="table_list" id="borrows_table">
                <tr>
                    <th>Reader</th>
                    <th>Book</th>
                    <th>Taking</th>
                    <th>Return</th>
                    <th>Status</th>
                </tr>
                {% for borrow_id, reader_id, reader_name, book_id, book_name, book_author, taking_date, taking_time, return_date, return_time, status in borrows %}
                <tr>
                    <td>ID {{reader_id}}<br>
                        {{reader_name}}</td>
                    <td>ID {{book_id}}<br>
                        {{book_name}}</td>
                    <td>{{taking_date}}<br>
                        {{taking_time}}</td>
                    {% if return_date %}
                    <td>{{return_date}}<br>
                        {{return_time}}</td>
                    {% else %}
                    <td>Expected</td>
                    {% endif %}
                    {% if status == 'Overdue' %}
                    <td style="color: red;">{{status}}</td>
                    {% endif %}
                    {% if status == 'Expected' %}
                    <td style="color: blue;">{{status}}</td>
                    {% endif %}
                    {% if status == 'Submitted' %}
                    <td style="color: green;">{{status}}</td>
                    {% endif %}
                    <td><button class="borrow_btn" onclick="window.location.replace('/borrows/' + ({{borrow_id}}))">Info</button></td>
                </tr>
                {% endfor %}
            </table>    
    </div>
</html>