<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/media.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<title>Library Control - Borrows</title>

</head>
<body>
	<header>
		<div class="container">
			<div class="block1">
				<div class="logo">
					<a href="">
						<img src="static/images/aitu-logo-3-400x205.png" alt="">
					</a>
				</div>
				<nav>
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/borrows">Borrows</a></li>
						<li><a href="/books">Books</a></li>
						<li><a href="/readers">Readers</a></li>
						<li><a style="color: red; cursor: pointer;" onclick="server.deauth()">Logout</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="adding_form">
		<p>Add new borrow</p>
        <input type="text" id="reader_id" placeholder="Reader ID">
        <input type="text" id="book_id" placeholder="Book ID">
        <button onclick="server.addBorrow(document.getElementById('reader_id').value, document.getElementById('book_id').value)">Add borrow</button>
	</div>
	<table class="table_list" id="borrows_table">
		<tr>
			<th>Reader</th>
			<th>Book</th>
			<th>Taking</th>
			<th>Return</th>
			<th>Status</th>
		</tr>
		{% for borrow_id, reader_id, reader_name, book_id, book_name, book_author, taking_date, taking_time, return_date, return_time, status in borrows %}
		<tr>
			<td>ID {{reader_id}}<br>
				{{reader_name}}</td>
			<td>ID {{book_id}}<br>
				{{book_name}}</td>
			<td>{{taking_date}}<br>
				{{taking_time}}</td>
			{% if return_date %}
			<td>{{return_date}}<br>
				{{return_time}}</td>
			{% else %}
			<td>Expected</td>
			{% endif %}
			{% if status == 'Overdue' %}
			<td style="color: red;">{{status}}</td>
			{% endif %}
			{% if status == 'Expected' %}
			<td style="color: blue;">{{status}}</td>
			{% endif %}
			{% if status == 'Submitted' %}
			<td style="color: green;">{{status}}</td>
			{% endif %}
			<td><button class="borrow_btn" onclick="window.location.replace('/borrows/' + ({{borrow_id}}))">Info</button></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>