<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/media.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<title>Library Control - Readers</title>

</head>
<body>
	<header>
		<div class="container">
			<div class="block1">
				<div class="logo">
					<a href="">
						<img src="static/images/aitu-logo-3-400x205.png" alt="">
					</a>
				</div>
				<nav>
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/borrows">Borrows</a></li>
						<li><a href="/books">Books</a></li>
						<li><a href="/readers">Readers</a></li>
						<li><a style="color: red; cursor: pointer;" onclick="server.deauth()">Logout</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="adding_form">
		<p>Add new reader</p>
        <input type="text" id="reader_name" placeholder="Reader first name">
        <input type="text" id="reader_lastname" placeholder="Reader last name">
        <input type="text" id="username" placeholder="Username">
        <input type="text" id="password" placeholder="Password">
        <button onclick="server.addReader(document.getElementById('reader_name').value, document.getElementById('reader_lastname').value, document.getElementById('username').value, document.getElementById('password').value)")>Add reader</button>
	</div>
	<table class="table_list" id="readers_table">
		<tr>
			<th>ID</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Change</th>
		</tr>
		{% for index, f_name, l_name in readers %}
		<tr>
			<td>{{index}}</td>
			<td>{{f_name}}</td>
			<td>{{l_name}}</td>
			<td><button class="reader_btn" onclick="window.location.replace('/readers/' + ({{index}}))">Change</button></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>