<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/media.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<title>Library Control - Books</title>

</head>
<body>
	<header>
		<div class="container">
			<div class="block1">
				<div class="logo">
					<a href="">
						<img src="static/images/aitu-logo-3-400x205.png" alt="">
					</a>
				</div>
				<nav>
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/borrows">Borrows</a></li>
						<li><a href="/books">Books</a></li>
						<li><a href="/readers">Readers</a></li>
						<li><a style="color: red; cursor: pointer;" onclick="server.deauth()">Logout</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="adding_form">
		<p>Add new book</p>
		<input type="text" id="book_name" placeholder="Book name">
		<input type="text" id="book_author" placeholder="Book author full name">
		<button onclick="server.addBook(document.getElementById('book_name').value, document.getElementById('book_author').value)")>Add book</button>
	</div>
	<table class="table_list" id="books_table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Author</th>
			<th>Change</th>
		</tr>
		{% for index, name, author in books %}
		<tr>
			<td>{{index}}</td>
			<td>{{name}}</td>
			<td>{{author}}</td>
			<td><button class="book_btn" onclick="window.location.replace('/books/' + ({{index}}))">Change</button></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>